@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}

:root{
    --cor1: #99D0F2;
    --cor2: #0455BF;
    --cor3: #033E8C;
    --cor4: #011640;
    --cor5: #011126;
    --cor6: #3730ff;
    --cor7: #0000FF;
    --cor8: #010180;

    --fontepadrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'idroid', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}



.fotos{
    text-align: center;
}

header{
    background-color: #0000FF;
    color: white;
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}

header > h1{
    font-family: 'Bebas Neue';
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
}

header > p{
    font-family: var(--fontepadrao);
    max-width: 500px;
    margin: auto;
    font-size: 1.2em;
}

nav{
    background-color: #010180;
    padding: 10px;
}

nav > a{
    text-decoration: none;
    color: white;
    font-family: 'Russo One';
    padding: 10px;
}

nav a:hover{
    background-color: #0000FF;
    border-radius: 5px;
    transition-duration: 0.5s;
}

body{
    background-color: #99D0F2;
}

main{
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 30px;
}

main  h1{
    font-family: var(--fonte-android);
    padding: 10px;
    color: #010180;
    font-size: 1.8em;
    
}

main h2{
    font-family: var(--fonte-android);
    font-size: 1.3em;
    color: #010180;
    background-image: linear-gradient(to right,#3730FE, transparent);
    text-indent: 15px;
}

main p{
    font-family: var(--fontepadrao);
    text-indent: 30px;
    line-height: 2em;
    text-align: justify;
    margin: 15px 0px 15px 0px;
}

main a{
    text-decoration: none;
    color: white;
    background-color: #010180;
    font-weight: bolder;
    padding: 5px;
}

main a::after{
    content: '\00A0\1F517';
}

.videos{
    background-color: #3730FF;
    position: relative;
    margin-bottom: 30px;
    margin-right: -20px;
    margin-left: -20px;
    padding: 20px;
    padding-bottom: 50%;
}

.videos > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


aside{
    background-color: #99D0F2;
    border-radius: 10px 10px 0px 0px;
    
}

aside ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
    margin-left: 10px;
}

aside h3{
    background-color: #010180;
    padding: 10px;
    font-family: var(--fontepadrao);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

aside p{
    margin-right: 10px;
    margin-left: 10px;
}


footer{
    color: white;
    background-color: black;
    padding: 10px;
    text-align: center;
    font-family: 'Russo One';
}